html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  max-width: 1450px;
  margin: 0 auto;
}

input,
textarea,
button,
select {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  line-height: normal;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 50px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 700;
  color: #e77306;
}

@media screen and (max-width: 479px) {
  .title {
    font-size: 40px;
  }
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #bd5d03;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 0 50px;
}

.header__item {
  padding: 25px 20px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.header__left img {
  width: 45px;
  height: 45px;
}

.header__left-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
  padding: 0 20px 0 0;
}

.header__left-menu {
  border-right: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left-menu i {
  margin-left: 15px;
}

.header__right-item:nth-child(4), .header__right-item:last-child {
  border-left: 1px solid #fff;
}

.hero {
  padding-bottom: 200px;
  background: #974c06;
}

.hero .carousel-indicators {
  -webkit-transform: translateY(80px);
      -ms-transform: translateY(80px);
          transform: translateY(80px);
}

.hero .carousel-indicators li {
  margin-top: 100px;
  background-color: #fff;
  width: 15px;
  height: 15px;
  margin-left: 15px;
  border-radius: 50%;
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 100px;
  background: #e77306;
  border-radius: 15px 0 0 15px;
}

.hero .carousel-control-prev {
  border-radius: 0 15px 15px 0;
}

.hero .carousel-control-prev-icon,
.hero .carousel-control-next-icon {
  width: 25px;
  height: 25px;
}
