.banner {
  padding: 50px 0;
  color: #fff;
  background: rgba($color-secondary, 0.5);
  a {
    text-decoration: none;
  }
  &__list {
    @include flex(center, space-around, none);
  }
  &__item {
    padding: 170px 20px 30px 20px;
    border-radius: 10px;
  }
  &__content {
    @include flex(center, center, none);
    flex-direction: column;
    &-heading {
      margin: 0px;
      text-align: center;
    }
    &-desc {
      margin: 20px;
    }
    &-button {
      border: 2px solid $color-primary;
      color: $color-secondary;
      transition: all 0.2s linear;
      &:hover {
        border: 2px solid $color-secondary;
        background: $color-secondary;
        color: #fff;
      }
    }
  }
  &__left {
    background: url(./../image/intro-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 25px;
  }
  &__right {
    background-image: url(./../image/intro-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 25px;
  }
}
