.footer {
  padding-top: 50px;
  background: #e5e5e5;
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 25px;
    padding-bottom: 50px;
    border-bottom: 2px solid $color-secondary;
  }
  &__link {
    list-style: none;
    margin-bottom: 15px;
    color: $color-orange-light;
    &:first-child {
      font-weight: 700;
      font-size: 20px;
      color: $color-secondary;
      margin-bottom: 30px;
    }
    a:hover {
      color: $color-secondary;
      text-decoration-color: $color-secondary;
    }
  }
  &__contact {
    padding: 30px 0 50px 0;
    @include flex(center, space-between, none);

    &-icon {
      @include flex(none, center, none);
      flex-direction: column;
    }
    &-heading {
      font-size: 25px;
      font-weight: 700;
      color: $color-primary;
      margin-bottom: 25px;
    }
    &-listicon {
      i {
        font-size: 25px;
        color: $color-secondary;
        margin-right: 10px;
      }
    }
    &-right {
      color: $color-primary;
    }
    &-mail {
      @include flex(flex-end, center, none);
      flex-direction: column;
      &-text {
        color: $color-primary;
      }
    }

    &-button {
      color: $color-secondary;
      border-color: currentColor;
      &:hover {
        color: #fff;
        background: $color-secondary;
        border: 2px solid $color-secondary;
      }
      i {
        margin-right: 10px;
      }
    }
    a {
      text-decoration: none;
    }
  }

  &__bottom {
    background: $color-secondary;
    padding-bottom: 25px;
    &-text {
      @include flex(none, space-between, none);
    }
    &-copyright {
      width: 50%;
      padding: 25px;
      i {
        text-decoration-line: underline;
        cursor: pointer;
      }
    }
    &-link {
      width: 50%;
      @include flex(center, flex-end, wrap);
      padding: 25px;
    }
    &-item {
      list-style: none;
      a {
        padding: 0 10px;
        border-right: 2px solid #fff;
        color: #fff;
      }
      &:last-child {
        a {
          border: none;
        }
      }
    }
    &-logo {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 0 10px;
    }
  }

  #rocket {
    color: $color-blue;
    width: 50px;
    height: 50px;
    font-size: 25px;
    background: rgba(#fff, 0.5);
    border: 2px solid $color-blue;
    border-radius: 10px;
    position: fixed;
    bottom: 50px;
    right: 60px;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    line-height: 1.9;
    a {
      transition: all 0.2s linear;
      &:hover {
        color: #fff;
      }
    }
    &:hover {
      background: $color-blue;
      border-color: $color-blue;
      color: #fff;
    }
  }
}
