.product {
  padding: 100px 0;
  a {
    text-decoration: none;
    color: inherit;
  }
  &__heading {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 50px;
    color: $color-primary;
  }

  .nav-pills {
    justify-content: space-around;

    margin-bottom: 30px !important;
    .nav-item {
      position: relative;
      transition: all 0.2s linear;

      &:nth-child(2),
      &:nth-child(4) {
        .active {
          &::after {
            left: 45%;
          }
        }
      }
      &:nth-child(3) {
        .active {
          &::after {
            left: 46%;
          }
        }
      }
      &:last-child {
        .active {
          &::after {
            left: 40%;
          }
        }
      }
      .nav-link {
        padding: 10px 30px;
        font-weight: bold;
        color: $color-primary;
        border-radius: 50px;
        transition: all 0.2s linear;
        &:hover {
          font-size: 18px;
          color: $color-secondary;
        }
      }
      .active {
        transition: all 0.2s linear;
        background: $color-secondary;
        color: #fff;
        font-size: 18px;
        &:hover {
          color: #fff;
        }

        &::after {
          content: "";
          display: block;
          width: 25px;
          height: 25px;
          background: white;
          position: absolute;
          top: 125%;
          left: 35%;
          transform: rotate(45deg);
          z-index: 2;
        }
      }
    }
  }

  .tab-content {
    position: relative;
  }

  &__content {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 0%;
    padding-top: 20px;
    transform: translateY(-50%);
    padding-right: 10px;

    &-mobile {
      display: none;
    }

    &-heading {
      font-size: 20px;
    }
    &-logo {
      width: 50%;
      margin: 15px 0;
    }

    &-detail,
    &-button,
    &-bottom {
      @include flex(center, flex-start, none);
      margin-bottom: 20px;
    }
    &-price,
    &-parameter {
      text-align: center;
      p {
        font-size: 35px;
        font-weight: 100;
      }
    }
    &-price {
      margin-right: 50px;
    }
    &-button {
      align-items: stretch;
      line-height: 1.2;
    }
    &-explore {
      margin-right: 50px;
      &:hover {
        color: inherit;
      }
    }
    &-build {
      transition: all 0.2s linear;
      &:hover {
        background: $color-primary;
        border: 2px solid $color-primary;
      }
    }
    &-bottom {
      border-top: 2px solid #898989;
      transition: all 0.2s linear;
      &:hover {
        color: $color-secondary;
      }
    }
    &-link {
      font-weight: 700;
      i {
        margin-left: 10px;
      }
    }
  }
}
