$font-primary: "Open Sans", sans-serif;
$font-secondary: "Poppins", sans-serif;

$color-primary: #974c06;
$color-secondary: #e77306;
$color-orange-light: #8b5d33;
$color-blue: #2198dc;

@mixin flex($align, $jus, $wrap) {
  display: flex;
  align-items: $align;
  justify-content: $jus;
  flex-wrap: $wrap;
}
