@media screen and(max-width:1023px) {
  .header {
    &__right-item {
      display: none;
    }
    &__bars {
      display: block;
    }
  }

  .product {
    padding: 50px 0;
    .nav-pills {
      flex-wrap: nowrap;
      .nav-item .nav-link {
        padding: 10px;
      }
    }
    strong {
      font-size: 13px;
    }
    &__content {
      &-heading {
        font-size: 13px;
        margin-bottom: 0;
      }
      &-logo {
        margin: 10px 0;
      }
      &-detail {
        margin-bottom: 10px;
        p {
          margin-bottom: 5px;
          font-size: 20px;
        }
      }
      &-button {
        a {
          padding: 10px 30px;
          font-size: 13px;
        }
      }
      &-bottom {
        flex-direction: column-reverse;
        img {
          width: 50%;
        }
      }
      &-link {
        font-size: 10px;
      }
    }
  }

  .services {
    padding: 50px 0;
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }

  .blog {
    margin: 50px 0;
    &__heading {
      font-size: 40px;
    }
    &__list {
      gap: 30px;
    }
    &__detail-desc {
      &-text,
      &-link {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
      }
      &-link {
        -webkit-line-clamp: 1;
      }
    }
    &__button {
      padding: 15px 0;
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 767px) {
  .menu {
    &-mobile {
      display: block;
    }
    &-list {
      .search-group input {
        margin-top: 50px;
      }
    }
  }

  .header {
    padding-top: 10px;
    padding-bottom: 10px;
    &__left-menu {
      display: none;
    }
  }

  .hero {
    .carousel-control-next,
    .carousel-control-prev {
      width: 30px;
    }
  }

  .intro {
    height: max-content;
    &__list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px 0;
      transform: translateY(-25%);
    }
    &__item {
      width: 100%;
      margin: 0;
    }
  }

  .product {
    margin-top: -200px;
    &__heading {
      font-size: 40px;
      margin-bottom: 30px;
    }
    .nav-pills {
      justify-content: space-between;
      overflow: scroll;
      .nav-item {
        margin: 0 15px;
        .nav-link {
          padding: 10px 20px;
        }
      }
    }
    &__content {
      &-detail {
        strong {
          font-size: 10px;
        }
      }
      &-button {
        a {
          padding: 10px 20px;
        }
      }
      &-price {
        margin-right: 15px;
      }
      &-explore {
        margin-right: 10px;
      }
      &-bottom {
        display: none;
      }
    }
  }

  .banner {
    &__list {
      flex-wrap: wrap;
      gap: 30px 0;
    }
    &__item {
      margin: 0;
    }
  }

  .blog {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 50px;
    }
    &__search-group {
      padding: 10px 20px;
    }
  }

  .footer {
    &__list {
      ul {
        margin-bottom: 0;
      }
      grid-template-columns: 1fr;
    }
    &__link {
      display: none;
      &:first-child {
        display: block;
        margin: 0;
        padding: 15px 0;
        border-bottom: 2px solid #f7f7f7;
      }
    }
    &__contact {
      flex-direction: column;
      align-items: flex-start;
      &-mail {
        align-items: flex-start;
        margin-top: 30px;
      }
    }
    &__bottom {
      &-text {
        flex-direction: column;
        align-items: flex-start;
      }
      &-copyright,
      &-link {
        width: 100%;
        padding-bottom: 0;
      }
      &-link {
        padding-top: 0;
        justify-content: flex-start;
      }
      &-logo {
        @include flex(center, center, none);
        img {
          display: none;
        }
        &-mobile {
          display: block !important;
          width: 10%;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .hero {
    .carousel-control-next,
    .carousel-control-prev {
      width: 25px;
      height: 60px;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      width: 20px;
      height: 20px;
    }
    .carousel-indicators {
      transform: translateY(50px);
      li {
        width: 10px;
        height: 10px;
      }
    }
  }

  .product {
    &__heading {
      font-size: 30px;
    }
    &__content {
      width: 100%;
      top: 70%;
      @include flex(center, center, none);
      flex-direction: column;
      padding: 10px 25px;
      &-slider {
        display: none;
      }
      &-mobile {
        display: block;
      }

      &-price {
        margin-right: 30px;
      }

      &-parameter {
        margin-left: 30px;
      }

      &-button {
        margin-top: 10px;
        margin-bottom: 0;
        a {
          padding: 10px 40px;
          margin: 0 20px;
        }
      }
    }
  }

  .services {
    &__list {
      grid-template-columns: 1fr;
    }
    &__item {
      padding: 20px;
      &-content i {
        font-size: 50px;
      }
      &-heading {
        margin: 15px;
      }
      &-desc {
        margin-bottom: 15px;
      }
    }
  }

  .banner__item {
    padding: 80px 10px 30px 10px;
    text-align: center;
  }

  .blog {
    &__heading {
      font-size: 30px;
    }
    &__list {
      grid-template-columns: 1fr;
    }
    &__search {
      &-group {
        input {
          &::-webkit-input-placeholder {
            font-size: 15px;
          }
          &::-moz-input-placeholder {
            font-size: 15px;
          }
        }
      }
      &-desktop {
        display: none;
      }
      &-mobile {
        display: block;
      }
    }
  }

  .footer__bottom-link {
    margin-left: -10px;
  }
} ;
