// @media screen and(min-width: 1024px) {
//   .product {
//     &__content {
//       &-heading {
//         font-size: 16px;
//       }
//       &-logo {
//         width: 35%;
//         margin: 10px;
//       }
//       &-desc {
//         display: none;
//       }
//     }
//   }
// }

@media screen and(max-width:1023px) {
  .header {
    &__right-item {
      display: none;
    }
    &__bars {
      display: block;
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
    &__left-menu {
      display: none;
    }
  }

  .hero {
    .carousel-control-next,
    .carousel-control-prev {
      width: 30px;
    }
  }

  .intro {
    height: max-content;
    &__list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px 0;
      transform: translateY(-25%);
    }
    &__item {
      width: 100%;
      margin: 0;
    }
  }
}
@media screen and (max-width: 479px) {
  .hero {
    .carousel-control-next,
    .carousel-control-prev {
      width: 25px;
      height: 60px;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      width: 20px;
      height: 20px;
    }
    .carousel-indicators {
      transform: translateY(50px);
      li {
        width: 10px;
        height: 10px;
      }
    }
  }
} ;
